<app-home-page-header></app-home-page-header>

<div class="wrapper info-wrapper">
  <div class="container info-container">
    <div class="row d-flex">

      <div class="col-9 info-col" *ngIf="showInfo">
        <div class="field">
          <span class="info-text"><strong>First Name: </strong></span>
          <input class="info-input" type="text" [(ngModel)]="user.userFname" [disabled]="isDisabled">
        </div>
        <div class="field">
          <span class="info-text"><strong>Last Name: </strong></span>
          <input class="info-input" type="text" [(ngModel)]="user.userLname" [disabled]="isDisabled">
        </div>
        <div class="field">
          <span class="info-text"><strong>Phone Number: </strong></span>
          <input class="info-input" type="text" [(ngModel)]="prettyPhoneNum" [disabled]="isDisabled">
        </div>
        <div class="field">
          <span class="info-text"><strong>Address: </strong></span>
          <input class="info-input" type="text" [(ngModel)]="user.userAddress" [disabled]="isDisabled">
        </div>
        <div class="field">
          <span class="info-text"><strong>Email: </strong></span>
          <input class="info-input" type="text" [(ngModel)]="user.userEmail" [disabled]="isDisabled">
        </div>
        <div class="field">
          <span class="info-text"><strong>Point Notifications: </strong></span>
          <mat-slide-toggle class="info-input" [(ngModel)]="user.pointNotifications" [disabled]="isDisabled"></mat-slide-toggle>
        </div>
        <div class="field">
          <span class="info-text"><strong>Order Notifications: </strong></span>
          <mat-slide-toggle class="info-input" [(ngModel)]="user.orderNotifications" [disabled]="isDisabled"></mat-slide-toggle>
        </div>
        <div class="field">
          <span class="info-text"><strong>Issues With Order Notifications: </strong></span>
          <mat-slide-toggle class="info-input" [(ngModel)]="user.issueNotifications" [disabled]="isDisabled"></mat-slide-toggle>
        </div>
      </div>

      <div class="col-3 btn-col">
        <div *ngIf="isDisabled" class="edit-btn">
          <button mat-raised-button color="primary" (click)="editBtn()">Edit Profile</button>
        </div>
        <div *ngIf="!isDisabled" class="save-btn">
          <button mat-raised-button color="warn" (click)="editBtn();updateProfile()">&emsp;SAVE&emsp;</button>
        </div>
      </div>

    </div>
  </div>
</div>