<app-home-page-header></app-home-page-header>

<div *ngIf="!addingSponsor">
  <div
    class="d-flex mt-5 align-content-center justify-content-center"
    *ngIf="!showData"
  >
    <div class="spinner-border" role="status"></div>
  </div>

  <div class="container" *ngIf="showData">
    <div class="title text-center">
      <h1>Select a Sponsor</h1>
      <mat-form-field appearance="fill" color="primary">
        <mat-select
          [(ngModel)]="orgSelection"
          (selectionChange)="onSelectionChange()"
        >
          <mat-option *ngFor="let org of orgs" [value]="org">
            {{ org.orgName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="sponsor-content" *ngIf="orgSelection">
      <mat-card>
        <div class="d-flex">
          <h2 class="title">{{ orgSelection.orgName }}</h2>
          <div
            class="edit-btn"
            *ngIf="
              user.userType === 'admin' ||
              (user.userType === 'sponsor' &&
                orgSelection.id === sponsorsOrg.id)
            "
          >
            <button
              (click)="toggleEdit()"
              *ngIf="!editing"
              mat-raised-button
              color="primary"
            >
              Edit
            </button>
            <button
              (click)="toggleEdit(); updateOrg()"
              *ngIf="editing"
              mat-raised-button
              color="warn"
            >
              SAVE
            </button>
          </div>
        </div>

        <div
          class="d-flex"
          *ngIf="
            user.userType.toLowerCase() === 'admin' ||
            (user.userType.toLowerCase() === 'sponsor' && orgSelection.id === sponsorsOrg.id)
          "
        >
          <div>
            <button mat-raised-button color="accent" (click)="openDialog()">
              Add/Deduct Driver Points
            </button>
          </div>
          &nbsp;
          <div>
            <button
              mat-raised-button
              color="accent"
              (click)="addingSponsor = true"
              *ngIf="user.userType.toLowerCase() === 'admin'"
            >
              Create Another Sponsor Account
            </button>
          </div>
          &nbsp;
          <div>
            <button
              mat-raised-button
              color="accent"
              (click)="navToEditCatalog()"
            >
              Edit Product Catalog
            </button>
          </div>
        </div>

        <h4 class="field">Description:</h4>
        <span class="not-editing" *ngIf="!editing">{{
          orgSelection.orgDescription
        }}</span>
        <div #orgDesc class="editing" *ngIf="editing" contenteditable>
          {{ orgSelection.orgDescription }}
        </div>

        <br />
        <br />
        <h4 class="field">Dollar to Point Amount:</h4>
        <span class="not-editing" *ngIf="!editing"
          >${{ orgSelection.dollarToPoint }}</span
        >
        <div #dollarToPoint class="editing" *ngIf="editing" contenteditable>
          ${{ orgSelection.dollarToPoint }}
        </div>

        <br />
        <br />
        <h4 class="field">Drivers:</h4>

        <mat-list>
          <mat-list-item *ngFor="let driver of drivers">
            <div class="d-flex driver-name">
              <span>{{ driver.userFname }} {{ driver.userLname }}</span>
            </div>
            <div class="remove-btn" *ngIf="editing">
              <button
                (click)="removeDriver(driver)"
                mat-raised-button
                color="warn"
              >
                Remove Driver
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
      <div class="mt-2"></div>
      <app-driver-product-listing
        [currentSponsor]="orgSelection"
        [dbUser]="user"
        [clickable]="false"
      ></app-driver-product-listing>
    </div>
  </div>
</div>

<div *ngIf="addingSponsor">
  <app-user-registration
    [userType]="'sponsor'"
    [sponsorId]="sponsorsOrg.id"
    [assisted]="true"
  ></app-user-registration>
  <div class="register mt-3 mb-3 text-center">
    <button
      class="bg-transparent border-0 text-primary"
      (click)="addingSponsor = false"
    >
      Back to Sponsor Dashboard
    </button>
  </div>
  <br />
</div>
