<div class="container-fluid p-0">
  <app-header></app-header>
</div>

<div class="text-center">
  <br/>
  <h1 class="mt-2 mb-0 title">Driver Appication to Sponsor</h1>
  <br/>
</div>

<div class="wrapper">
  <div class="app-form">
    <form #f="ngForm" (ngSubmit)="onSubmit()">

      <span class="lead">Sponsor Organization</span>
      <br />
      <mat-form-field appearance="outline" color="primary">
        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="orgSelection">
          <mat-option *ngFor="let org of orgs" [value]="org.orgName">
            {{org.orgName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <br/>

      <span class="lead">Name</span>
      <br />
      <input
        type="text"
        name="name"
        id="name"
        placeholder="First and Last"
        class="field"
        required
      />
      <br />
      <br />

      <span class="lead">Why do you want to be a driver for our organization?</span>
      <br />
      <input
        type="text"
        name="name"
        id="name"
        class="field description"
        required
        [(ngModel)]="description"
      />
      <br />
      <br />

    
      <div class="text-center">
        <button
          type="button"
          class="submit-button"
          (click)="onSubmit()"
        >
          <span
            role="status"
            aria-hidden="true"
          ></span>
          Submit
        </button>
      </div>

    </form>
  </div>
</div>

<div class="text-center" *ngIf="submitted">
  <h1 class="mt-2 mb-0 title">Submission Completed!</h1>
  <span>Go back to home page: <a class="nav-link" routerLink="/home">HOME</a></span>
</div>