<div
  class="d-flex mt-5 align-content-center justify-content-center"
  *ngIf="!fetchedProducts || !fetchedSponsor"
>
  <div class="spinner-border" role="status"></div>
</div>

<div *ngIf="fetchedProducts && fetchedSponsor">
  <div class="pt-2">
    <div class="text-center">
      <h2>Welcome, {{ dbUser.userFname }} {{ dbUser.userLname }}</h2>
    </div>
  </div>

  <!-- <div class="row mt-3">
    <div class="col-md-3 w-50">
      <div
        class="card text-light ml-3"
        style="background: var(--primary-color)"
      >
        <div class="card-body text-center">
          <div class="card-title mt-0 lead" *ngIf="fetchedSponsor">
            {{ currentSponsor.orgName }}
          </div>
          <div class="bi bi-truck mb-2" style="font-size: 30px"></div>
          <div class="card-text font-weight-bold">
            Point-to-Dollar Conversion
          </div>
          <div class="card-text">1 point = ${{ p2drate }}</div>
          <div class="card" style="background: var(--tertiary-color)">
            <p
              class="mb-1 mt-1"
              style="color: var(--primary-color); font-size: 1.2em"
            >
              recent point updates
            </p>
            <app-point-change
              *ngFor="
                let pointChange of pointTransactions.reverse() | slice: 0:4
              "
              [pointChange]="pointChange"
            ></app-point-change>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm mr-3" *ngIf="sponsorOrgs">
      <div class="card text-light" style="background: var(--secondary-color)">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-sm mt-1" *ngIf="products.length !== 0">
              <app-product-listing
                *ngFor="let product of products"
                [product]="product"
              ></app-product-listing>
            </div>
            <div
              class="col-sm text-dark lead font-italic"
              *ngIf="products.length === 0"
            >
              <img
                style="width: 200px"
                src="../../../assets/oops-dog.png"
                alt="no products found, heres a dog instead"
              />
              <div class="row justify-content-center mt-2">
                No products to show
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row sponsor-widget">
    <div class="col-6">
      <app-sponsor-widget></app-sponsor-widget>
    </div>
  </div>
</div>
