<div
  class="d-flex mt-5 align-content-center justify-content-center"
  *ngIf="!fetchedSponsor"
>
  <div class="spinner-border" role="status"></div>
</div>

<div *ngIf="fetchedSponsor">
  <div *ngIf="currentSponsors.length > 0">
    <app-driver-sponsor-card
      *ngFor="let sponsor of currentSponsors"
      [currentSponsor]="sponsor"
      [dbUser]="dbUser"
      class="col-md-3"
    ></app-driver-sponsor-card>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <app-sponsor-widget [user]="dbUser"></app-sponsor-widget>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
  
</div>
