<div class="container">
    <div class="row mt-4">
      <div class="col">
        <div class="card text-light ml-3" style="background: var(--primary-color); border-radius: 1em;">
            <div class="card-body text-center">
                <div class="card" style="margin: 3px; background: var(--tertiary-color); border-radius: 1em;">
                    <p
                    class="mb-1 mt-1 btn"
                    style="color: var(--primary-color); font-size: 1.2em"
                    routerLink="/profile">
                    View/Update Profiles
                    </p>
                </div>
                <div class="mt-4"> </div>
                <div class="card" style="margin: 3px; background: var(--tertiary-color); border-radius: 1em;">
                    <p
                    class="mb-1 mt-1 btn"
                    style="color: var(--primary-color); font-size: 1.2em"
                    routerLink="/sponsor-dashboard">
                    View Sponsor Orgs
                </p>
            </div>
            </div>
        </div>
      </div>
      <!-- <div class="col">
        <div class="card text-light ml-3" style="background: var(--primary-color); border-radius: 1em;">
            <div class="card-body text-center">
                <div class="card" style="margin: 3px; background: var(--tertiary-color); border-radius: 1em;">
                    <p
                    class="mb-1 mt-1 btn"
                    style="color: var(--primary-color); font-size: 1.2em">
                    view individual sponsor profiles
                    </p>
                </div>
                <div class="mt-4"> </div>
                <div class="card" style="margin: 3px; background: var(--tertiary-color); border-radius: 1em;">
                    <p
                    class="mb-1 mt-1 btn"
                    style="color: var(--primary-color); font-size: 1.2em">
                    view driver profiles
                </p>
            </div>
            </div>
        </div>
      </div> -->
      <div class="col">
        <div class="card text-light ml-3" style="background: var(--primary-color); border-radius: 1em;">
            <div class="card-body text-center">
                <div class="card" style="margin: 3px; background: var(--tertiary-color); border-radius: 1em;">
                    <p
                    class="mb-1 mt-1 btn"
                    style="color: var(--primary-color); font-size: 1.2em">
                    view product catalog
                    </p>
                </div>
                <div class="mt-4"> </div>
                <div class="card" style="margin: 3px; background: var(--tertiary-color); border-radius: 1em;">
                    <p
                    class="mb-1 mt-1 btn"
                    style="color: var(--primary-color); font-size: 1.2em">
                    view reports 
                </p>
            </div>
            </div>
        </div>
      </div>
    </div>
</div>