<div class="wrapper">
  <div class="register-form">
    <form (ngSubmit)="onSubmit()">
      <span class="lead">Sponsor Organization Name</span>
      <br />
      <input
        type="text"
        name="name"
        id="name"
        placeholder="name"
        class="field"
        required
        [(ngModel)]="name"
      />
      <br />
      <br />

      <span class="lead">Sponsor Organization Description</span>
      <br />
      <input
        type="text"
        name="description"
        id="description"
        placeholder="description"
        class="field"
        required
        [(ngModel)]="desc"
      />
      <br />
      <br />

      <span class="lead">Point-To-Dollar Rate</span>
      <br />
      1 Point is equal to $
      <input
        type="text"
        name="email"
        id="email"
        placeholder="0.00"
        class="p2d"
        required
        [(ngModel)]="d2p"
      />
      <br />
      <br />
      <div class="text-center">
        <button
          type="button"
          class="submit-button"
          [disabled]="loading"
          (click)="onSubmit()"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="loading"
          ></span>
          Create
        </button>
      </div>
    </form>
  </div>
</div>
