<div class="row ml-2">
  <div
    class="col-md-5 card text-light"
    style="background: var(--primary-color)"
  >
    <div class="text-center mt-2 mb-2 lead">Sponsor Info</div>
    <div
      class="d-flex mt-3 mb-3 align-content-center justify-content-center"
      *ngIf="!loaded"
    >
      <div class="spinner-border" role="status"></div>
    </div>
    <div *ngIf="loaded">
      <div class="sponsors" *ngIf="showSponsor && sponsorOrgs">
        <p><strong>Sponsor(s): </strong></p>
          <div *ngFor="let sponsor of sponsorOrgs">
            <p>&nbsp;&nbsp;{{sponsor.orgName}}</p>
          </div>
      </div>
      <br/>
      <a
        [routerLink]="['/sponsor-dashboard']"
        class="text-light text-center p-2 font-weight-bold"
        style="background: var(--secondary-color); border-radius: 0.3em"
        >Sponsor Dashboard</a
      >
      <br />
      <br />

      <div *ngIf="isDriver">
        <button mat-raised-button routerLink="/driver-application">Apply to a Sponsor</button>

        <br />
        <br />
        <p><strong>Outstanding Applications: </strong></p>
        <mat-list *ngIf="showDriverOustandingApps">
          <mat-list-item *ngFor="let app of driverOutstandingApps">
            {{ app.sponsorName }}, submitted {{ app.requestedDate.month }}/{{
              app.requestedDate.day
            }}/{{ app.requestedDate.year }}
          </mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="isSponsor">
        <div *ngIf="sponsorsApps" class="mb-2">
          <button mat-raised-button color="accent" (click)="openDialog()">
            View Pending applications
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
