<div class="row ml-2">
  <div
    class="col-md-5 card text-light"
    style="background: var(--primary-color)"
  >
    <div class="text-center mt-2 mb-2 lead">Sponsor Info</div>
    <div *ngIf="user.sponsorId !== 0 && showSponsor">
      <p><strong>Sponsor: </strong>{{ sponsorOrg.orgName }}</p>
    </div>
    <a
      [routerLink]="['/sponsor-dashboard']"
      class="text-light text-center p-2 font-weight-bold"
      style="background: var(--secondary-color); border-radius: 0.3em"
      >Sponsor Dashboard</a
    >
    <br />
    <br />
    <div *ngIf="isDriver">
      <div *ngIf="user.sponsorId === 0">
        <a class="apply-link" routerLink="/driver-application"
          >Apply to a sponsor</a
        >
        <br />
        <br />
        <p><strong>Outstanding Applications: </strong></p>
        <mat-list *ngIf="showDriverOustandingApps">
          <mat-list-item *ngFor="let app of driverOutstandingApps">
            {{ app.sponsorName }}, submitted {{ app.requestedDate.month }}/{{
              app.requestedDate.day
            }}/{{ app.requestedDate.year }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div *ngIf="isSponsor">
      <div *ngIf="sponsorsApps" class="mb-2">
        <button mat-raised-button color="accent" (click)="openDialog()">
          View Pending applications
        </button>
      </div>
    </div>
  </div>
</div>
