<div class="login_box">
  <div class="formContent">
    <!-- Tabs Titles -->

    <!-- Header -->
    <div class="login_header text-uppercase">welcome</div>

    <!-- Login Form -->
    <div class="login-form">
      <form (ngSubmit)="onSubmit()">
        <input
          class="field"
          type="text"
          [(ngModel)]="username"
          name="username"
          id="username"
          placeholder="username"
        />
        <div class="forgot-username text-right">
          <button
            type="button"
            class="btn bg-transparent font-italic"
            style="color: var(--primary-color)"
          >
            reset username
          </button>
        </div>

        <input
          class="field"
          type="password"
          [(ngModel)]="password"
          name="password"
          id="password"
          placeholder="password"
        />
        <div class="forgot-password text-right">
          <button
            type="button"
            class="btn bg-transparent font-italic"
            style="color: var(--primary-color)"
          >
            reset password
          </button>
        </div>
        <input type="submit" class="submit" value="login." />
      </form>
    </div>
  </div>
</div>
