/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: rgb(97, 97, 233);
  --secondary-color: rgb(120, 163, 255);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
