.colored-wrapper {
  background: #AED2FF;
}

.radios {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.fixed-btn {
  position: fixed;
  bottom: 1%;
  right: 3%;
}

.info-list .mat-list-item {
  height: auto;
}

.card {
  height: 100%;
  width: 100%;
  overflow-x: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.checkbox {
  margin-top: auto;
  margin-bottom: auto;
}

input.larger {
  width: 20px;
  height: 20px;
}

.info-row {
  margin-top: 15px;
  margin-bottom: 5px;
}