<div class="row mt-2">
  <div class="col-md-3 w-50">
    <div class="card text-light ml-3" style="background: var(--primary-color)">
      <div class="card-body text-center">
        <div class="card-title mt-0 lead" *ngIf="currentSponsor">
          {{ currentSponsor.orgName }}
        </div>
        <!-- <div class="bi bi-truck mb-2" style="font-size: 30px"></div> -->
        <div class="mb-2" style="font-size: 30px">{{ points }}</div>
        <div class="card-text font-weight-bold">Point-to-Dollar Conversion</div>
        <div class="card-text">1 point = ${{ p2drate }}</div>
        <div class="card" style="background: var(--tertiary-color)">
          <p
            class="mb-1 mt-1"
            style="color: var(--primary-color); font-size: 1.2em"
          >
            recent point updates
          </p>
          <app-point-change
            *ngFor="let pointChange of pointTransactions.reverse() | slice: 0:4"
            [pointChange]="pointChange"
          ></app-point-change>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm mr-3">
    <app-driver-product-listing
      [currentSponsor]="currentSponsor"
      [dbUser]="dbUser"
      [clickable]="true"
    ></app-driver-product-listing>
  </div>
</div>
