<app-home-page-header></app-home-page-header>

<div
  class="d-flex mt-5 align-content-center justify-content-center"
  *ngIf="loading"
>
  <div class="spinner-border" role="status"></div>
</div>

<div class="container" *ngIf="!loading">
  <br />
  <div *ngIf="isDriver || isAdmin" class="text-center">
    <p><strong>Select An Orgs Catalog</strong></p>
    <mat-form-field appearance="fill">
      <mat-select
        [(ngModel)]="orgSelection"
        (selectionChange)="onSelectionChange()"
      >
        <mat-option *ngFor="let org of orgChoices" [value]="org">
          {{ org.orgName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="d-flex mt-5 align-content-center justify-content-center"
    *ngIf="orgCatalogLoading"
  >
    <div class="spinner-border" role="status"></div>
  </div>

  <div class="colored-wrapper" *ngIf="currentProducts.length !== 0">
    <br />
    <div class="row">
      <div class="col-3"></div>
      <h2 class="col-6 text-center">{{ orgSelection.orgName }}</h2>
      <div class="col-3">
        <div *ngIf="isDriver" class="text-right mr-2">
          <button mat-raised-button (click)="onCheckout()">Checkout</button>
        </div>
      </div>
      <div class="col-3" *ngIf="isSponsor || isAdmin">
        <button mat-raised-button color="accent" (click)="navToEditCatalog()">
          Edit Product Catalog
        </button>
      </div>
    </div>

    <mat-list class="info-list">
      <mat-list-item *ngFor="let item of currentProducts; let i = index">
        <div
          class="card"
          [ngStyle]="{
            background: item.available ? '' : 'silver',
            filter: item.available ? '' : 'grayscale(100%)'
          }"
        >
          <div class="row info-row">
            <div class="col-2 pl-4">
              <img
                src="{{ item.artworkUrl100 }}"
                style="height: 100%; width: auto"
              />
            </div>
            <div class="col-6 info">
              <p><strong>Name: </strong>{{ item.trackName }}</p>
              <p><strong>Available: </strong>Yes</p>
              <p>
                <strong>Pount Value: </strong>{{ item.pointValue.toFixed(2) }}
              </p>
              <p>
                <strong
                  ><a target="_blank" href="{{ item.trackViewUrl }}"
                    >Information</a
                  ></strong
                >
              </p>
            </div>

            <div class="col-3" *ngIf="isDriver">
              <div>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="onAddToCart()"
                  *ngIf="item.available"
                >
                  Add To Cart
                </button>
              </div>
              <br />
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <br />
  </div>
  <br />

  <div
    class="text-center"
    *ngIf="currentProducts.length === 0 && orgCatalogLoading === false"
  >
    <p>No Products to Display</p>
  </div>
</div>
