<div
  class="d-flex mt-5 align-content-center justify-content-center"
  *ngIf="!(gotCurrentProducts && gotSponsoredDrivers)"
>
  <div class="spinner-border" role="status"></div>
</div>

<div *ngIf="gotCurrentProducts && gotSponsoredDrivers">
  <hr />
  <div class="col-sm mr-3">
    <app-driver-product-listing
      [currentSponsor]="sponsorOrg"
      [dbUser]="dbUser"
    ></app-driver-product-listing>
  </div>

  <div class="row sponsor-widget">
    <div class="col-6">
      <app-sponsor-widget [user]="dbUser"></app-sponsor-widget>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3 w-50">
      <div
        class="card text-light ml-3"
        style="background: var(--primary-color)"
      >
        <div class="card-title text-center mt-2">Sponsored Drivers</div>
        <div class="card-body" style="background: var(--tertiary-color)">
          <app-sponsored-driver
            *ngFor="let sponsoredDriver of sponsoredDrivers"
            [sponsoredDriver]="sponsoredDriver"
          ></app-sponsored-driver>
        </div>
      </div>
    </div>
  </div>
</div>
