<div
  class="d-flex mt-5 align-content-center justify-content-center"
  *ngIf="!(gotCurrentProducts && gotSponsoredDrivers)"
>
  <div class="spinner-border" role="status"></div>
</div>

<div *ngIf="gotCurrentProducts && gotSponsoredDrivers">
  <div class="pt-2">
    <div class="text-center">
      <h2>Welcome, {{ dbUser.userFname }} {{ dbUser.userLname }}</h2>
    </div>
  </div>
  <hr />
  <div class="text-center lead text-dark font-weight-bold mb-1">
    Current Products
  </div>
  <div class="col-sm mr-3">
    <div class="card text-light" style="background: var(--secondary-color)">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-sm mt-1" *ngIf="currentProducts.length !== 0">
            <app-product-listing
              *ngFor="let product of currentProducts"
              [product]="product"
            ></app-product-listing>
          </div>
          <div
            class="col-sm text-dark font-italic"
            *ngIf="currentProducts.length === 0"
          >
            No products to show
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row sponsor-widget">
    <div class="col-6">
      <app-sponsor-widget></app-sponsor-widget>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3 w-50">
      <div
        class="card text-light ml-3"
        style="background: var(--primary-color)"
      >
        <div class="card-title text-center mt-2">Sponsored Drivers</div>
        <div class="card-body" style="background: var(--tertiary-color)">
          <app-sponsored-driver
            *ngFor="let sponsoredDriver of sponsoredDrivers"
            [sponsoredDriver]="sponsoredDriver"
          ></app-sponsored-driver>
        </div>
      </div>
    </div>
  </div>
</div>
