<div class="container-fluid">
  <app-header></app-header>
</div>

<div class="container text-center">
  <h1 class="title">New User Registration</h1>
</div>

<div class="wrapper">
  <div class="register-form">
    <form>
  
      <p>Name</p>
      <input 
        type="text"
        name="name"
        id="name"
        placeholder="First and Last">

      <p>Username</p>
      <input 
        type="text"
        name="username"
        id="username"
        placeholder="Username">

      <p>Email</p>

      <p>Password</p>

      <p>Phone</p>

    </form>
  </div>
</div>
