<div class="text-center">
  <h1 class="mt-2 mb-0 title">
    <span *ngIf="userType == 'driver'"> New User Registration </span>
    <span *ngIf="userType == 'sponsor'"> New Sponsor User Registration </span>
    <span *ngIf="userType == 'admin'"> New Admin User Registration </span>
  </h1>
</div>

<div class="wrapper">
  <div class="register-form">
    <form (ngSubmit)="onSubmit()" *ngIf="!needsConfirmation">
      <span class="lead">Name</span>
      <br />
      <input
        type="text"
        name="name"
        id="name"
        placeholder="First and Last"
        class="field"
        required
        [(ngModel)]="name"
      />
      <br />
      <br />

      <span class="lead">Username</span>
      <br />
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        class="field"
        required
        [(ngModel)]="username"
      />
      <br />
      <br />

      <span class="lead">Email</span>
      <span class=""> (a confirmation email will be sent)</span>
      <br />
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
        class="field"
        required
        [(ngModel)]="email"
      />
      <br />
      <br />

      <span class="lead">Password</span>
      <br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        class="field"
        required
        [(ngModel)]="password"
        (keyup)="eventListener()"
      />
      <span
        #strengthDisp
        id="StrengthDisp"
        class="badge displayBadge"
        [ngStyle]="{ display: displayType, backgroundColor: strengthColor }"
      >
        {{ strengthText }}
      </span>
      <br />
      <br />

      <span class="lead">Repeat Password</span>
      <br />
      <input
        type="password"
        name="repeat_password"
        id="repeat-password"
        placeholder="Password"
        class="field"
        required
        [(ngModel)]="repeat_password"
      />
      <br />
      <br />

      <span class="lead">Gender</span>
      <br />
      <div id="gender-group">
        <input
          type="radio"
          name="gender-group"
          class="gender-button"
          (click)="selectGender(0)"
        />
        Male <br />
        <input
          type="radio"
          name="gender-group"
          class="gender-button"
          (click)="selectGender(1)"
        />
        Female <br />
        <input
          type="radio"
          name="gender-group"
          class="gender-button"
          (click)="selectGender(2)"
        />
        Other <br />
        <input
          type="radio"
          name="gender-group"
          class="gender-button"
          (click)="selectGender(3)"
        />
        Prefer not to say <br />
      </div>

      <br />
      <span class="lead">Phone</span>
      <br />
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="Phone Number"
        class="field"
        required
        [(ngModel)]="phone"
      />
      <br />
      <br />

      <span class="lead">Address</span>
      <br />
      <input
        type="text"
        name="address"
        id="address"
        placeholder="Address"
        class="field"
        required
        [(ngModel)]="address"
      />
      <br />
      <br />
      <span class="lead">Birthday</span>
      <br />
      <input
        type="date"
        name="date"
        id="date"
        class="field"
        required
        [(ngModel)]="date"
      />
      <br />
      <br />
      <div class="text-center">
        <button
          type="button"
          class="submit-button"
          [disabled]="loading"
          (click)="onSubmit()"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="loading"
          ></span>
          Register
        </button>
      </div>
    </form>
    <div class="card-body" *ngIf="needsConfirmation">
      <div class="row">
        <div class="col mb-2">
          <div class="font-weight-bold mb-0">
            You MUST confirm your email before proceeding
          </div>
          <label for="code" class="form-label mb-1"
            >Enter code from email:</label
          >
          <input
            type="text"
            id="code"
            name="code"
            #code="ngModel"
            [(ngModel)]="confirmationCode"
            class="form-control form-control-sm"
          />
        </div>
      </div>
      <div class="row">
        <div class="col d-grid">
          <button
            type="button"
            (click)="confirmSignup()"
            class="btn btn-sm confirm-button"
            [disabled]="loading"
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              *ngIf="loading"
            ></span>
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="register mt-3 mb-3 text-center" *ngIf="userType == 'driver'">
  <button
    class="bg-transparent border-0 text-primary"
    (click)="returnToLogin()"
  >
    Back to login page
  </button>
</div>
<br />
