<div class="container-fluid">
  <app-header></app-header>
</div>

<div class="container text-center">
  <h1 class="title">New User Registration</h1>
</div>

<div class="wrapper">
  <div class="register-form">
    <form>
  
      <span>Name</span>
      <br/>
      <input 
        type="text"
        name="name"
        id="name"
        placeholder="First and Last"
        class="field"
        required>
      <br/>
      <br/>

      <span>Username</span>
      <br/>
      <input 
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        class="field"
        required>
      <br/>
      <br/>

      <span>Email</span>
      <br/>
      <input 
        type="text"
        name="email"
        id="email"
        placeholder="Email"
        class="field"
        required>
      <br/>
      <br/>

      <span>Password</span>
      <br/>
      <input 
        type="text"
        name="password"
        id="password"
        placeholder="Password"
        class="field"
        required>
      <br/>
      <br/>

      <span>Repeat Password</span>
      <br/>
      <input 
        type="text"
        name="repeat-password"
        id="repeat-password"
        placeholder="Password"
        class="field"
        required>
      <br/>
      <br/>

      <span>Phone</span>
      <br/>
      <input 
        type="text"
        name="phone"
        id="phone"
        placeholder="Phone Number"
        class="field"
        required>
      <br/>
      <br/>

      <span>Address</span>
      <br/>
      <input 
        type="text"
        name="address"
        id="address"
        placeholder="Address"
        class="field"
        required>
      <br/>
      <br/>

      <input type="submit" class="submit" value="Register">
    </form>

  </div>
</div>
