<div class="header">
  <div class="row pb-3" style="background: var(--secondary-color)">
    <div class="col align-self-center">
      <a href="/home">
        <img
          class="pt-3 ml-5"
          src="../../../assets/light-logo.png"
          style="width: 170px"
      /></a>
    </div>
    <!-- empty column -->
    <div
      class="col"
      style="
        background: var(--secondary-color);
        padding: 1px;
        border-radius: 1em;
        margin: 0px;
      "
    ></div>
    <div
      class="col align-self-center text-center"
      style="
        font-size: 2em;
        background: var(--primary-color);
        padding: 15px;
        border-radius: 1em;
        margin: 10px;
      "
      *ngIf="showPoints"
    >
      <p class="row text-light"></p>
      <p class="text-light">POINTS</p>
      <p class="text-light">{{ totalPoints }}</p>
    </div>
    <!-- empty column -->
    <div
      class="col"
      style="
        background: var(--secondary-color);
        padding: 1px;
        border-radius: 1em;
        margin: 2px;
      "
    ></div>
    <!-- column holding profile & sign out button -->
    <div
      class="col-2 align-items-center"
      style="
        background: var(--primary-color);
        padding: 2px;
        border-radius: 1em;
        margin: 5px;
      "
    >
      <!-- profile button -->
      <a
        class="row justify-content-sm-center nav-link text-light text-center"
        style="
          background: var(--secondary-color);
          border-radius: 1em;
          margin: 10px;
        "
        routerLink="/profile"
      >
        Profile
      </a>
      <!-- sign out button -->
      <a
        class="row justify-content-sm-center nav-link text-light text-center"
        style="
          background: var(--secondary-color);
          border-radius: 1em;
          margin: 10px;
        "
        routerLink=""
        (click)="signOut()"
      >
        Sign Out
      </a>
    </div>
  </div>
</div>
